:root {
  --font-size-mobile: 1.2rem;
  --line-height-mboile: 1.6rem;
  --font-size-base: 1rem;
  --line-height-base: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: calc(14rem / 16);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  overflow: hidden;
  display: flex;
  width: 37rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}

.image {
  width: 50%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2em;
}

.card__category {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
}

.card__title {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2rem;
}

.card__p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.card__price-tag {
  display: flex;
  align-items: center;
}

.card__price {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  padding-right: 1rem;
}

.card__price-original {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.card__button {
  border: none;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-family: inherit;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card__button:hover {
  background-color: hsl(159, 35%, 21%);
}

.material-symbols-outlined {
  font-size: 0.5rem;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 21.5rem;
  }

  .image {
    object-fit: cover;
    object-position: 50% 45%;
    width: 100%;
    max-height: 15rem;
  }

  .card__title {
    font-size: 2rem;
  }
}
